@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tw-animate-css";
@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  overflow-y: hidden;
}

@layer components {
  /* Custom styles for the polished range input */
  .range-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: theme('colors.border');
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .range-input:hover {
    opacity: 1;
  }

  .range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: theme('colors.text');
    border-radius: 50%;
    border: 3px solid theme('colors.primary.DEFAULT');
    cursor: pointer;
    margin-top: -7px; /* Center the thumb on the track */
  }

  /* Style for the thumb in Mozilla Firefox */
  .range-input::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: theme('colors.text');
    border-radius: 50%;
    border: 3px solid theme('colors.primary.DEFAULT');
    cursor: pointer;
  }
}


@layer base {
  body {
    font-family: "Space Grotesk", sans-serif;
  }

}

@layer utilities {
  .no-scrollbar-arrows::-webkit-scrollbar-button {
    display: none;
  }
}
